<h3>
    jsnlog
</h3>
<md-card>
    <md-card-title>Asp Net Full</md-card-title>
    <md-card-content>
        <button md-raised-button color="primary" (click)="fullDebug()">Debug</button>
            <button md-raised-button color="accent" (click)="fullInfo()">Information</button>
            <button md-button color="primary" (click)="fullError()">Error</button>
    </md-card-content>
</md-card>

<md-card>
    <md-card-title>Asp Net Core</md-card-title>
    <md-card-content>
        <button md-raised-button color="primary" (click)="coreDebug()">Debug</button>
        <button md-raised-button color="accent" (click)="coreInfo()">Information</button>
        <button md-button color="primary" (click)="coreError()">Error</button>
    </md-card-content>
</md-card>
